/* FOUNDATION MODIFICATIONS
-------------------------------------------------------------- */



/* GENERALES
-------------------------------------------------------------- */
body{
	font-family:Arial, Helvetica, sans-serif;
}

.titulochico{
  letter-spacing: 6px;
  margin-bottom: 30px;
}
.titulogrande{
  border: solid 1px #000;
  padding: 20px;
  font-size: 25px;
  letter-spacing: 3px;
}

.titulochico_alterno{
  letter-spacing: 6px;
  margin-bottom: 30px;
  color: #FFF;
}
.titulogrande_alterno{
  border: solid 1px #FFF;
  padding: 20px;
  font-size: 25px;
  letter-spacing: 3px;
  color: #FFF;
}

.siguiente{
  margin-top: 45px;

}

.galeria-cajas, .galeria-imagenes{
  display: none;
  /*position: fixed;*/
  top: 77px;
  padding-top: 30px;
  width:100%;
  z-index:100; 
  background-color: white;
}

.cerrarGaleriaDetail, .cerrarGaleriaImagenes{
  display: block;
  width: 35px;
  height: 35px;
  padding-right: 5px;
  cursor: pointer;
  color: #000;
  font-size: 25px;
  border: solid 1px #000;
}

.cerrarGaleriaDetail:hover, .cerrarGaleriaImagenes:hover{
  border: solid 1px #FFF;
  background-color: #000;
  color: #FFF;
}


.grises img {
	filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
	filter: Gray(); /* IE4-8 and 9 */

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.grises img:hover { 
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}



/* TOP VIDEO
-------------------------------------------------------------- */

#headervideo{
	position: relative; overflow: hidden; z-index: 1;
}
.vid-overlay{
	position: absolute; 
	width: 100%; 
	height: 100%; 
	top: 0px; 
	left: 0px; 
	z-index: 11; 
	backface-visibility: hidden; 
	transform: translateZ(0px); 
	opacity: 0.5; 
	background: rgb(0, 0, 0);
}
.horizontalinner{
	position: absolute; 
	width: 100%; 
	height: 100%; 
	z-index: 11; 
	color: #FFF;
}

.video-wrap{
	position: absolute; 
	width: 1468px; 
	height: 825.75px; 
	top: 0px; 
	left: 0px; 
	z-index: -10; 
	background: url(http://www.spab-rice.com/themeforest/xone/demo/files/uploads/video-poster.jpg) 50% 50% / cover;
}
.section-logo, .section-title, .section-sigueme{
	margin-top: 50px;
}
.section-title{
	font-size: 2.55em;
}
.section-title span{
	color: #BFAB1B;
}

/* TOP MENU
-------------------------------------------------------------- */

.top-menu{
	width: 100%;
	height: 76px;
	background-color: #000;
	/*padding-top: 11px;*/
}

#menu-contactanos{
	font-weight: bold;
	color: #FFF;
	margin-top: 27px;
	letter-spacing: 10px;
}

#menu-bar{
	margin-top: 27px;
}

.icon-bar{
	display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #FFF;
    margin-top: 3px;
}
.nav-togle{
	padding: 5px 7px 7px 7px !important;
	background-color: #000 !important;
}

#header-menu a{
  color: #FFF;
  text-decoration: none;
}

#header-menu a:hover{
  color: #BFAB1B;
  text-decoration: none;
}
/* Galeria Cajas
-------------------------------------------------------------- */
#nuestrascajas{
  margin-bottom: 60px;
}

.cajas{
	margin-top: 50px;
}

.grid-cajas{
	margin-top: 70px;
}
.grid-cajas .caja{
	
}

.caja-ejemplo{
  min-height: 193px;
}

.personal{
  padding-top: 24px;
}

.corporativa{
  padding-top: 30px;
}

.nombre-caja{
	margin-top: 50px;
  margin-bottom: 70px;
	font-family: 'Arial Narrow', Arial, sans-serif;
	color: #C3C3C3;
	font-size: 27px;
  padding: 11px;
  border: solid 1px #FFF;
}
.caja .active{
	color: #BFAB1B;
	border: solid 1px #C3C3C3;
}


/* Galeria Cajas Abierta
-------------------------------------------------------------- */

.slide-img{
  margin-top: 35px;
}

.image-item{
  display: none;
}

.slide-img .active{
  display: inline-block;
}

.arrows{
  margin-top: 35px;
  font-size: 35px;
}

.bottom-menu{
  width: 100%;
  height: 76px;
  background-color: #000;
  padding-top: 22px;
}

.bottom-menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.bottom-menu ul li{
  float: left;
  width: 25%;
}

.bottom-menu ul li a{
  display: block;
  padding: .3em;
  text-decoration: none;
  color: #FFF !important;
}
.bottom-menu ul li a:hover{
  color: #BFAB1B !important;
}

.orbit-prev, .orbit-next{
  color: #000 !important;
}


/* Conocenos
-------------------------------------------------------------- */

#conocenos{
  background-color: #000;
}

#conocenoscontent{
  padding-top: 50px;
}

.container-video{
  margin-top: 60px;
  border-top: solid 1px #FFF;
  border-bottom: solid 1px #FFF;
}

.video-conocenos{
  border-left: solid 1px #FFF;
  border-right: solid 1px #FFF;
}
.video-conocenos .flex-video{
  margin-bottom: 0px !important;
}

#conocenos .siguiente{
  color: #FFF;
}

.ico-galeria{
  margin-top: 65px;  
}

.link-galeria{
  letter-spacing: 6px;
  margin-top: 25px;  
  color: #FFF;
  font-size: 25px;
}

#conocenos a{
  color: #FFF;
  text-decoration: none;
}

#conocenos a:hover{
  color: #BFAB1B;
  text-decoration: none;
}

#project-extended-galeria{
  background-color: #FFF;
}

.cerrarGaleriaImagenes{
  color: #000 !important;
}

.cerrarGaleriaImagenes:hover{
  color: #FFF !important;
}
/* formas de pago
-------------------------------------------------------------- */
#formasdepago{
  padding-top: 75px;
  background-color: #000;
  
  padding-bottom: 50px;
}

.iconos-formasdepago{
  margin-top: 60px;
}
.texto-tipopago{
  color: #FFF;
  font-size: 16px;
}

/* mision vision
-------------------------------------------------------------- */

.misionvision{
  padding-top: 50px;
  background-color: #FFF;
  margin-top: 10px;
}

#misionvision .titulo{
  margin-top: 30px;
  font-size: 21px;
  letter-spacing: 3px;
}

#misionvision .contenido{
  margin-top: 20px;
}

/* Footer
-------------------------------------------------------------- */
#footer{
  width: 100%;
  background-color: #000;
  color: #FFF;
  margin-top: 35px;
}

#footer .logo{
  margin-top: 50px;
}

.redessociales{
  margin-top: 30px;
  font-size: 45px;
}
.redessociales a{
  color: #BFAB1B !important;
  text-decoration: none;
}
.redessociales a:hover{
  color: #FFF !important;
  text-decoration: none;
}
.icon-red{
  border: solid 1px #333;
  width: 80px;
}

.domicilio{
  margin-top: 50px;
}
.domicilio .telefono{
  color: #FFF;
  font-family: "Arial Black";
}

.domicilio .direccion{
  color: #FFF;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 7px;
  letter-spacing: 2px;
}

#footer .link-inicio{
  padding-bottom: 30px;
}

#footer .flecha-inicio{
  font-size: 81px;
}

#footer .text-inicio{
  color: #FFF;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: -32px;
}

#footer a{
  color: #FFF;
  text-decoration: none;
}

#footer a:hover{
  color: #FFF;
  text-decoration: none;
}